@keyframes move-left {
  0% {
    transform: scale(1);
    background-color: chartreuse;
  }
  50% {
    transform: scale(1.6);
    background-color: coral;
  }
  100% {
    transform: scale(1.2);
    background-color: crimson;
  }
}

.btn {
  border: none;
  padding: 0.75rem 1.5rem;
  background-color: $green;
  transition: all 250ms ease;
  cursor: pointer;
  color: $white;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;

  span {
    display: block;
    margin-left: 0.5rem;
  }

  &:hover {
    background-color: $green-light;
  }

  //colors
  &--red {
    background-color: $red;
  }
  &--green {
    background-color: $green;
  }
  &--yellow {
    background-color: $yellow;
  }

  &--animate {
    &:active {
      animation: move-left 1s linear infinite alternate;
    }
  }
}
