.pagination {
  display: flex;

  &__arrow {
    width: 2rem;
    border: 1px solid $gray-light;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 250ms ease;

    &:hover {
      background-color: $green;
      color: $white;
    }

    svg {
      width: 1rem;
      display: block;
      transition: all 200ms ease;
    }

    &--last {
      margin-left: 1rem;
    }
    &--first {
      margin-right: 1rem;
    }
  }

  &__item {
    border: 1px solid $gray-light;
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 250ms ease;
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      background-color: $green;
      color: $white;
    }
  }
}
