.table {
  border-collapse: collapse;
  width: 100%;
  tr {
    th,
    td {
      border-left: 1px solid $gray;
      border-bottom: 1px solid $gray;
      padding: 0.5rem 1rem;
      &:last-child {
        border-right: 1px solid $gray;
      }
    }
    th {
      text-align: left;
      border-top: 1px solid $gray;
    }
  }
  &__flag {
    width: 3rem;
    border: 1px solid $gray;
  }
}
