.toggle {
  position: relative;
  width: 3rem;
  height: 1.25rem;
  background-color: $gray-light;
  border-radius: 2rem;
  transition: background-color 250ms ease;

  &.active {
    background-color: $green;

    .toggle__thumb {
      left: 1.5rem;
    }
  }

  &__thumb {
    cursor: pointer;
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 2rem;
    border: 1px solid $gray-dark;
    background-color: $white;
    transition: left 250ms ease;
  }
}
